aside{
    display: none;
}
.main {
    margin-left: 50px;
}
.main-body{
    width: 90%;
}
.item {
    width: 300px;
    height: 300px;
}
footer {
    display: block;
    font-size: 12px;
}
footer h3 {
    font-size: 12px;
    width: 100%;
    display: none;
}
footer a {
    display: none;
    font-size: 12px;
    padding: 30px;
}
.zuwluguu {
    margin-left: 50px;
}
.home {
    margin: 0;
}
button {
    margin-left: 100px;
}